@model IEnumerable<Models.User>
<div class="col-sm-4">
    <div class="chat-box-online-div">
        <div class="chat-box-online-head">
            USERS (@Model.Count())
        </div>
        <div class="panel-body chat-box-online" id="accordion">
            @{
                var i = 0;
            }
            @foreach (var user in Model)
            {
                <div class="panel panel-default">
                    <!-- Заголовок @i панели -->
                    <div class="panel-heading chat-box-online-left">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@i">
                                <img src="@Url.Action("Photo", "Home", new {email = user.Email})" alt="bootstrap Chat box user image" class="img-circle"/>
                                - @user.Name @user.Surname
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-@i" class="panel-collapse collapse">
                        <!-- Содержимое @i панели -->
                        <div class="panel-body">
                            @Html.Partial("_AvailableChats", user.Email)
                        </div>
                    </div>
                </div>
                i++;
            }

        </div>

    </div>

</div>
