@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>@ViewBag.Title - Security Chat</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME  CSS -->
    <link href="~/Content/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="btn-group pull-right chat-menu-button">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="fa fa-cogs"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            @*<li><a href="#"><span class="fa fa-map-marker"></span>&nbsp;Invisible</a></li>
                <li><a href="#"><span class="fa fa-comments-o"></span>&nbsp;Online</a></li>
                <li><a href="#"><span class="fa fa-lock"></span>&nbsp;Busy</a></li>
                <li class="divider"></li>*@
            <li><a href="@Url.Action("Logout", "Account")"><span class="fa fa-circle-o-notch"></span>&nbsp;Выйти</a></li>
        </ul>
    </div>


    <div class="container">
        <div class="row pad-top pad-bottom col-sm-offset-1 col-sm-10">
            @RenderBody()
            @Html.Action("UserList", "Home")
        </div>
    </div>
    <div id="notifications-list" data-base-href="/">
    </div>


    <div class="hidden" id="notification-template">
        <div class="notification cursor-pointer">
            <span class="close-notification fa fa-times"></span>
            <div class="notification-header">{{Header}}</div>
            <div class="notification-body">{{{Text}}}</div>
        </div>
    </div>

    <!-- USING SCRIPTS BELOW TO REDUCE THE LOAD TIME -->
    <!-- CORE JQUERY SCRIPTS FILE -->
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    <!-- CORE BOOTSTRAP SCRIPTS FILE -->
    <script src="~/Content/assets/js/bootstrap.js"></script>
    <script src="~/Scripts/jquery.scrollTo.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/notifications.js"></script>
    <script src="~/Scripts/main.js"></script>
    @RenderSection("scripts", false)

</body>

</html>
